In [1]:
import os
import pandas as pd
#import sqlalchemy
import numpy as np

from utils import *

from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px

# Lectura de datos del SII

In [13]:
for year in [2014,2015,2016,2017,2018,2019]:
    df1 = pd.read_csv(f"Datos/{year}-1.txt", sep="|")
    df1["Año"]=year
    df1["Semestre"]=1
    df2 = pd.read_csv(f"Datos/{year}-2.txt", sep="|")
    df2["Año"]=year
    df2["Semestre"]=2
    df=pd.concat([df1,df2],axis=0)
    df.to_csv(f"Datos/{year}.csv")

In [54]:
df2014=pd.read_csv("Datos/2014.csv")
df2015=pd.read_csv("Datos/2015.csv")
df2016=pd.read_csv("Datos/2016.csv")
df2017=pd.read_csv("Datos/2017.csv")
df2018=pd.read_csv("Datos/2018.csv")
df2019=pd.read_csv("Datos/2019.csv")
df2014

,Unnamed: 0,Rol,Comuna,Destino,Avaluo_Fiscal,Avaluo_Exento,Neta,Sobretasa_0025,Sobretasa_SNE,Aseo,Año,Semestre
0,0,11010001000003,1101,W,26152424,26152424,0,0,0,0,2014,1
1,1,11010001200009,1101,W,1257552,1257552,0,0,0,0,2014,1
2,2,11010001500028,1101,W,11435340,0,65354,1430,65354,16508,2014,1
3,3,11010002200016,1101,W,6124744,0,35004,766,35004,16508,2014,1
4,4,11010002200028,1101,W,2808533,2808533,0,0,0,0,2014,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11798723,5946040,164040508700027,16404,H,7618916,7618916,0,0,0,0,2014,2
11798724,5946041,164040508700028,16404,H,7618916,7618916,0,0,0,0,2014,2
11798725,5946042,164040508700029,16404,H,7618916,7618916,0,0,0,0,2014,2
11798726,5946043,164040508700030,16404,H,9038576,9038576,0,0,0,0,2014,2
11798727,5946044,164049016000006,16404,T,661026286,661026286,0,0,0,0,2014,2

In [ ]:
df2014

In [53]:
df_comunas=pd.read_csv("Datos/codigos_comunas.csv")
df_comunas

    CONARASII;Nombre Comuna;Codigo Tesorería
0                               1101;ARICA;1
1                         1106;CAMARONES;295
2                             1201;IQUIQUE;2
3                                1203;PICA;4
4                        1204;POZO ALMONTE;5
..                                       ...
342              16303;SAN JOSE DE MAIPO;102
343                    16401;SAN BERNARDO;98
344                 16402;CALERA DE TANGO;99
345                           16403;BUIN;103
346                          16404;PAINE;104

[347 rows x 1 columns]

In [48]:
df2014=df2014.merge(df_comunas, how="left",left_on="Comuna", right_on="Nombre Comuna")

KeyError: 'Nombre Comuna'

In [34]:
len(df["Código Comuna "].unique())

206